@font-face {
    font-family: dancingScriptBold;
    src: url(../../assets/fonts/DancingScript-Bold.ttf);
}

.hero-hd-txt {
    font-family: dancingScriptBold;
    text-shadow: 1px 1px 0 ;
    color: #221518;
    text-shadow: 
    1px 1px 0 #DABB9E, 
    -1px 1px 0 #DABB9E, 
    1px -1px 0 #DABB9E, 
    -1px -1px 0 #DABB9E,
    1px 0 0 #DABB9E,
    -1px 0 0 #DABB9E,
    0 1px 0 #DABB9E,
    0 -1px 0 #DABB9E,
    2px 2px 0 #DABB9E,
    -2px 2px 0 #DABB9E,
    2px -2px 0 #DABB9E,
    -2px -2px 0 #DABB9E,
    2px 0 0 #DABB9E,
    -2px 0 0 #DABB9E,
    0 2px 0 #DABB9E,
    0 -2px 0 #DABB9E;
}

.buy-coffee-txt {
    font-family: dancingScriptBold;
}

.lightener {
    position: absolute;
    z-index: -1;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: #745F58;
    top: 0;
    left: 0;
    filter: blur(20rem);
}